<section>
  <h1 class="question_title"> <%= @question.title %> </h1>
  <div class="votebox"><%= erb :'/votes/_voting' %></div>
  <p class="question_description"><%= @question.description %></p>

  <p id="tagbox"> <% @question.tags.each do |tag| %>
          <a href="/<%= tag.id %>"  class="tag"><%= tag.description %></a>
        <% end %></p>
  <ul>
    <li class="question_stats">asked <%= @question.created_at.strftime("%b %d") %> at <%=@question.created_at.strftime("%l:%M") %></li>
    <li class="question_stats">edited <%= @question.updated_at.strftime("%b %d") %> at <%=@question.created_at.strftime("%l:%M") %></li>
    <li class="question_stats"><a href="/users/<%=@question.questioner.id %>"><%= @question.questioner.username %></a></li>
  </ul>
  <div class="all-question-comments">

    <ul class="question-comments">
      <h3>Comments</h3>
      <% @question.comments.each do |comment| %>
        <li> <%= comment.description %> <span class="question_stats">– <a href="/users/<%=comment.commenter.id %>"><%= comment.commenter.username %></a> <%= comment.created_at.strftime("%b %d") %> at <%= comment.created_at.strftime("%l:%M") %></span></li><br>
      <% end %>
    </ul>

    <p>add comment</p>
    <form action="/questions/<%= @question.id %>/comment" method="POST">
      <textarea class="comment_textbox" name="comment_textbox"></textarea>
      <input type="submit" value="add comment">
    </form>

  </div>

  <!-- <ul class="question_tags"></ul> -->
</section>

<section class="answers">
  <div class="answers_header">
    <h3 class="answers_count">
      <%= @question.answers.count %> Answers
    </h3>
    <ul class="answers_list">
      <% if @question.answers %>
        <% @question.answers.each do |answer| %>
          <li><%= answer.description %><li>
          <div class="answerer_username">
            <%= answer.answerer.username %>
          </div>
        <% end %>
      <% end %>
    </ul>
  </div>
  <%= erb :'/answers/_answer_form' %>
</section>
