<section class="question-container">
  <h1 class="question-title"> <%= @question.title %> </h1>

  <div class="votebox"><%= erb :'/votes/_voting' %></div>

  <div class="question-description">
    <p><%= @question.description %></p>
    <p id="tagbox"> <% @question.tags.each do |tag| %>
    <a href="/<%= tag.id %>" class="tag"><%= tag.description %></a>
    <% end %></p>
    <ul>
      <li class="question-stats">asked <%= @question.created_at.strftime("%b %d") %> at <%=@question.created_at.strftime("%l:%M") %></li>
      <li class="question-stats">edited <%= @question.updated_at.strftime("%b %d") %> at <%=@question.created_at.strftime("%l:%M") %></li>
      <li class="question-stats"><a href="/users/<%=@question.questioner.id %>"><%= @question.questioner.username %></a></li>
    </ul>
  </div>
</section>

<section class="comment-container">
  <div class="all-comments">
    <ul class="comment-list">
      <% @question.comments.each do |comment| %>
        <li class="comment-list-item"> <%= comment.description %> <span class="question-stats">– <a href="/users/<%=comment.commenter.id %>"><%= comment.commenter.username %></a> <%= comment.created_at.strftime("%b %d") %> at <%= comment.created_at.strftime("%l:%M") %></span></li><br>
      <% end %>
    </ul>

    <button class="new-comment-button button" class="button">add a comment</button>
      <form class="comment-form hidden" action="/questions/<%= @question.id %>/comment" method="POST">
        <textarea class="comment-textbox" name="comment_textbox"></textarea>
        <input type="submit" id="comment-button" class="button" value="add a comment"></input>
      </form>
  </div>

  <!-- <ul class="question_tags"></ul> -->
</section>


<section class="question-container">
  <div class="answer-header">
    <h3 class="answer-count">
      <%= @question.answers.count %> Answers
    </h3>
    <%= erb :'/votes/_voting' %>
    <ul class="answer-list">
      <%= erb :"/answers/_answers" %>
    </ul>
  </div>
</section>

<%= erb :'/answers/_answer_form' %>
