<section>
  <h2 class="question_title">
    <%= @question.title %>
  </h2>
  <p class="question_description">
    <%= @question.description %>
  </p>
  <ul class="question_stats">
    <%= @question.updated_at %>
    <%= @question.questioner.username %>
  </ul>
  <%= erb :'/votes/_voting'
  <ul class="question_tags"></ul>
</section>
<section class="answers">
  <div class="answers_header">
    <h3 class="answers_count">
    </h3>
    <ul class="answers_list">
      <% if @question.answers %>
      <% @question.answers.each do |answer| %>
      <%= erb :'/votes/_voting'
      <li><% answer.description %><li>
      <% end %>
      <% end %>
    </ul>
  </div>
</section>
