<div class='avatar-container'>
  <div id='avatar-placeholder'>
  </div>
</div>

<div class="user-info-container">
  <div class='user-info'>
    <h1><%= @user.username %><span id="ranking">top 3% overall</span></h1>
    <p class="profile-title">Software Engineer at Cul-De-Stack
    <p class="profile-last-updated">(Last updated 2016-03-02)</p>
    <p class="profile-quote">Every time you make a typo, the errorists win.</p>
    <p class="profile-experience">ruby, javascript, jQuery, ajax, rails, OOP, sinatra, html/css</p>
    </p>
  </div>
</div>

<div class="user-activity">
  <ul>
    <li><a href="<%= "/answers/users/#{@user.id}" %>"><h3>Answers (<%= @user.answers.count %>)</h3></a></li>

    <li><a href="<%= "/questions/users/#{@user.id}" %>"><h3>Questions (<%= @user.questions.count %>)</h3></a></li>

    <li><a href="<%= "/votes/users/#{@user.id}" %>"><h3>Votes Cast (<%= @user.votes.count %>)</h3></a></li>
  </ul>
</div>