<div class='avatar-container'>
    <img id="avatar" src="https://raw.githubusercontent.com/emritcey/culdesac-overflow/master/public/imgs/generic_avatar.png" alt="cul-de-sac avatar">
</div>

<div class="user-info-container">
  <div class='user-info'>
    <h1><%= @user.username %><span id="ranking">top 3% overall</span></h1>
    <p class="profile-title">Software Engineer at Cul-De-Stack
    <p class="profile-last-updated">(Last updated 2016-03-02)</p>
    <p class="profile-quote">Every time you make a typo, the errorists win.</p>
    <p class="profile-experience">ruby, javascript, jQuery, ajax, rails, OOP, sinatra, html/css</p>
    </p>
  </div>
</div>

<div class="user-activity">
  <ul class="tabs">
    <li class="active"><a class="user-contributions-link" href="/users/<%= @user.id %>/answers">Answers (<%= @user.answers.count %>)</a></li>

    <li><a class="user-contributions-link" href="/users/<%= @user.id %>/questions"> Questions (<%= @user.questions.count %>)</a></li>

    <li><a class="user-contributions-link" href="/users/<%= @user.id %>/votes">Votes Cast (<%= @user.votes.count %>)</a></li>
  </ul>

  <ul class="contrib-list"></ul>
</div>
