<% if @question.answers %>
    <% @question.answers.each do |answer| %>
      <%= erb :'/votes/_voting' %>
      <% if @question.favorite_answer_id == answer.id %>
          <i class="fa fa-star fa-2x green-star" aria-hidden="true"></i>
      <% else  %>
          <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>/favorite" method="POST">
             <button class="star" type="submit"><i class="fa fa-star fa-2x" aria-hidden="true"></i></button>
          </form>
      <% end  %>

      <li><%= answer.description %></li>
      <div class="answerer_username">
        <%= answer.answerer.username %>
      </div>

  <% end %>
<% end %>
