<h1>Questions</h1>
<div class="question-list-container">
<% @questions.each do |question| %>

  <div class="question-container" >

    <div class="question-stats-container"><a href="/questions/<%= question.id %>"></a>
      <div class="stats-box stats-box-votes">
        <span class="value"><%= question.votes.count %></span><br>
        <span class="word">votes</span>
      </div>

      <div class="stats-box stats-box-answers">
        <span class="value"><%= question.answers.count %> </span><br>
        <span class="word">answers</span>
      </div>

      <div class="stats-box stats-box-views">
        <span class="value"><%= question.views_count.to_i %></span><br>
        <span class="word">views</span>
      </div>
    </div>

    <div class="title-container">
      <div>
        <a class="question-title" href="/questions/<%= question.id %>"><%= question.title %></a>
      </div>

      <div class="under-title">
        <div class="tag-container">
        <% question.tags.each do |tag| %>
          <a href="/<%= tag.id %>" type="button" class="tag"><%= tag.description %></a>
        <% end %>
        </div>
        <span>asked __ seconds ago by <a href="/users/<%=question.questioner.id %>"><%= question.questioner.username %></a>
        </span>
      </div>
    </div>
  </div>
<% end %>
</div>
